<html>

<head>

  <script
  src="https://code.jquery.com/jquery-3.7.1.slim.js"
  integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc="
  crossorigin="anonymous"></script>

  <script src="../static/script.js" defer></script>

  <link rel="stylesheet" href="../static/styles.css">



</head>

<body>

  <div style="height: 35px; width: 110%; color: rgb(255, 255, 255); background-color: black; padding: 15px; margin-left: -8px; margin-top: -8px;">IOT DASHBOARD</div>

  <div class="content">

    

    <div class="temphum-dashboard">

      <div class="dashboard-component" id="humidity-db">
        <h3>Humidity</h3>
        <div id="fu-progress" onclick="updateHumidity()">   
          <div id="fu-inner">
            <div id="fu-percent"><span>0</span>%</div>
            <div id="water"></div>
          </div>
        </div>
      </div>

      <div class="dashboard-component" id="temperature-db">
        <h3>Temperature</h3>
        <div class="gauge" onclick="setGaugeValue(0.05)">
            <div id="gauge__body">
                <div id="gauge__fill"></div>
                <div id="gauge__cover">0</div>
            </div>
        </div>
      </div>

      <div class="dashboard-component" id="lightbulb-db">
        <h3>LED</h3>
          <div id="LB-body">

              <img id="LB-img" src="../static/lightbulb-21.png">
              <div id="LB-cover"></div></img>
          </div>
          <br>
          <span id="LEDValue">0</span>
          <div class="slidecontainer">
            <input readonly type="range" min="0" max="500" value="0" class="slider" id="myRange">
          </div>
          <span id="notif"></span>
      </div>

    </div>

  </div>
    

</body>
</html>
