body {
    font-family: sans-serif;
    background-color: rgb(51, 51, 51);
  }

.dashboard-component {
    display: inline;
    position: relative;
    float: left;
    padding: 50px;
    max-width: 300px;
    max-height: 300px;
}

h3 {
    color: aliceblue;
}